ProjectTest/.idea
ProjectTest/Library
ProjectTest/Logs
ProjectTest/obj
ProjectTest/Temp
ProjectTest/Assets/Script/Common
ProjectTest/Assets/Resources/Table
ProjectTest/UserSettings
WebApiServer/WebApiServer/obj
WebApiServer/WebApiServer/bin
WebApiServer/Protocol/obj
WebApiServer/Protocol/bin
WebApiServer/Core/obj
WebApiServer/Core/bin
WebApiServer/.idea
WebApiServer/.vs
.DS_Store
*.DotSettings
WebApiServer/WebApiServer/TableData
